@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #292929;
  background: white;
}

.lists > * > * {
  margin: 0.2em 0;
  font-size: small;
}

.lists > * > *:first-child {
  margin-top: 1em;
}

.lists > * > *::before {
  content: "✔️";
  width: 15px;
  height: 15px;
  margin-right: 2em;
}


